
{% extends "main/base.html" %}
{% block title %} MAIN PAGE {% endblock %}
{% block content %}
{% load static %}
     <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'assets/img/banner_img_01.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>Beka</b> Catering</h1>
                                <h3 class="h2">Catering for every occasion</h3>
                                <p>
                                    At our catering service, we understand that every occasion is unique and requires its own special touch. That's why we offer a wide range of catering options to suit any event, whether it's a casual gathering or a formal affair. From intimate dinner parties to grand weddings, our team of experienced chefs and servers will work with you to create a customized menu that will leave a lasting impression on your guests. We use only the freshest, highest-quality ingredients and take great care to ensure that every dish is presented beautifully and tastes absolutely delicious. Let us take care of the food while you focus on enjoying your special occasion.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'assets/img/banner_img_02.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Experience to remember</h1>
                                <h3 class="h2">Only fresh ingredients</h3>
                                <p>
                                    At our catering company, we use only fresh ingredients to create memorable meals for any occasion. Our experienced chefs and servers will work with you to design a custom menu that will impress your guests. From intimate dinner parties to grand weddings, we have the expertise to make your event a success. Let us take care of the food while you focus on the occasion.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{% static 'assets/img/banner_img_03.jpg' %}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Only the freshest ingredients</h1>
                                <h3 class="h2">With love</h3>
                                <p>
                                    We specialize in handcrafted cakes made with love. We use only the freshest ingredients to ensure that each and every cake we bake is of the highest quality. Our cakes are made just like my mum used to bake, with that homemade touch that makes them truly special. We take pride in every cake we bake, and we know that you'll taste the difference in every bite.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
                <p>
                    What people love the most this month!!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static './assets/img/category_img_01.jpeg' %}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Desserts</h5>
                <p class="text-center"><a class="btn btn-success" href="{% url 'filter_products' category='DE' %}">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static './assets/img/category_img_02.jpeg' %}" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Sides</h2>
                <p class="text-center"><a class="btn btn-success" href="{% url 'filter_products' category='SI' %}">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{% static './assets/img/category_img_03.jpeg' %}" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Main Meals</h2>
                <p class="text-center"><a class="btn btn-success" href="{% url 'filter_products' category='MA' %}">Go Shop</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Product</h1>
                    <p>
                        We recommend these!!
                    </p>
                </div>
            </div>
            <div class="row">
                 {% for product in products|slice:":3" %}
<!--    <p>Rating: {{ product.rating }}</p>-->
                    <div  class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">

                               <img class="card-img rounded-0 img-fluid" src={{ product.image.url}} alt='{{ product.name }}'>
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href=""><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href=""><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'add_to_cart' product.id%}"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'product_detail' product.id %}" class="h3 text-decoration-none">{{ product.name }}</a>

                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>Feeds <b>{{ product.size }}</b> person(s)</li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">{{ product.price }} C </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Product -->


{% endblock %}
